ul.navigation {
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;

  font-size: 0.9em;
  text-align: center;

  background-color: rgba(255,255,255, 0.2);

  li {
    list-style-type: none;
    display: inline-block;
    
    a {
      display: inline-block;
      padding: 0.5em 1.5em;
    }
  }

  li:hover {
    background-color: @mdBlue;
  }
}
