<!DOCTYPE html>
<html>
  <head>
    <title>Planner</title>

    <!-- Reset styles and add favicon-->
    <link rel="stylesheet" href="{{ STATIC_URL }}/stylesheets/normalize.css">
    <link href="{{ STATIC_URL }}/images/favicon.ico" rel="shortcut icon">

    <!-- Include less files -->
    <link rel="stylesheet/less" href="{{ STATIC_URL }}/stylesheets/application.less">
    <script src="{{ STATIC_URL }}/javascripts/vendor/less.js"></script>

    <!-- Include knockout -->
    <script src="{{ STATIC_URL }}/javascripts/vendor/require.js" data-main="{{ STATIC_URL }}/javascripts/application.js"></script>

    <!-- Include WebFonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600,400,300,300italic,400italic' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <span class="column fixed-width-small">
      <h1 data-bind="text: human_date"></h1>
      <ul class="navigation">
        <li><a href="#" data-bind="click: $root.get_unfinished ">All Unfinished</a></li>
        <li><a href="#" data-bind="">Yesterday's</a></li>
      </ul>
      <div id="tasks-wow" data-bind="visible: tasks().length == 0">
        Wow, there <em>are</em> no unfinished tasks! I ain't complaining, but maybe, just maybe, you didn't add any for today?
      </div>
      <div id="tasks-container" data-bind="foreach: tasks">
        <!-- Define a plain non-editable view -->
        <div class="task-tile" data-bind="ifnot: is_being_edited, attr: { id: 'data-' + id()}">
          <div class="task-html" data-bind="css: { done: done }, html: html(), click: edit">
          </div><span class="task-actions">
          <a class="task-action-btn done" href="#" data-bind="attr: { title: done() ? 'Undo!' : 'Done!' }, click: $root.done"><i class="icon" data-bind="css: {'icon-ok': !done(), 'icon-ban-circle': done()}"></i></a>
            <a title="Defer for tomorrow" class="task-action-btn defer" href="#" data-bind="click: $root.defer"><i class="icon icon-share-alt"/></i></a>
          </span>
        </div>

        <!-- Define an editable view -->
        <div class="task-tile task-editor" data-bind="if: is_being_edited, attr: { id: 'data-' + id()}">
            <textarea data-bind="hasfocus: is_being_edited, value: markdown"></textarea>
        </div>
      </div>
    </span>
    <span class="column fixed-position">
      <h1 class="day" data-bind="text: day"></h1>
      <h2 class="date" data-bind="text: full_date"></h2>
      {% csrf_token %}
      <a href="#" class="add-task" data-bind="ifnot: date() == 'unfinished', click: add_today"><i class="icon icon-plus-sign"></i>Add task</a>
    </span>

    <!-- Initialization: this script is formed via the django-template engine
    and contains the initial data to use to populate the first tasks -->
    <script language="javascript">
      requirejs.config({
        paths: {
          knockout: "/static/javascripts/vendor/knockout"
        }
      });

      function init(ko, app, vm) {
        var tasks_from_template = [
          {% for task in tasks %}
            {% include "task-single.json" %},
          {% endfor %}
        ];

        for (var i=0, tmp_task; i<tasks_from_template.length; i++) {
          tmp_task = tasks_from_template[i]; 

          app.task_list.tasks.push(new vm.Task(tmp_task.pk,
                                        tmp_task.markdown,
                                        tmp_task.html,
                                        tmp_task.done));
        }

        app.task_list.date("{{ date.date }}");
        app.task_list.full_date("{{ date.full }}");
        app.task_list.day("{{ date.day }}");
        app.task_list.human_date("{{ date.human }}");

        ko.applyBindings(app.task_list);
      };

      requirejs(['knockout', 'application', 'viewmodels'], init);
    </script>
  </body>
</html>
