<!DOCTYPE html>
<html>
  <head>
    <title>Planner</title>

    <!-- Reset styles -->
    <link rel="stylesheet" href="{{ STATIC_URL }}/stylesheets/normalize.css">

    <!-- Include less files -->
    <link rel="stylesheet/less" href="{{ STATIC_URL }}/stylesheets/application.less">
    <script src="{{ STATIC_URL }}/javascripts/vendor/less.js"></script>

    <!-- Include knockout -->
    <script src="{{ STATIC_URL }}/javascripts/vendor/require.js" data-main="{{ STATIC_URL }}/javascripts/application.js"></script>

    <!-- Include WebFonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600,400,300,300italic,400italic' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <span class="column fixed-width-small">
      <h1 data-bind="text: human_date"></h1>
      <div id="tasks-wow" data-bind="visible: tasks().length == 0">
        Wow, there <em>are</em> no unfinished tasks! I ain't complaining, but maybe, just maybe, you didn't add any for today?
      </div>
      <div id="tasks-container" data-bind="foreach: tasks">
        <!-- Define a plain non-editable view -->
        <div class="task-tile" data-bind="ifnot: is_being_edited, attr: { id: 'data-' + id()}">
          <div class="task-html" data-bind="html: html(), click: edit">
          </div><span class="task-actions">
            <a title="Done!" class="task-action-btn" href="#" data-bind="click: $root.done"><i class="icon icon-ok"></i></a>
            <a title="Defer for tomorrow" class="task-action-btn" href="#" data-bind="click: $root.defer"><i class="icon icon-share-alt"/></i></a>
          </span>
        </div>

        <!-- Define an editable view -->
        <div class="task-tile task-editor" data-bind="if: is_being_edited, attr: { id: 'data-' + id()}">
            <textarea data-bind="hasfocus: is_being_edited, value: markdown"></textarea>
        </div>
      </div>
    </span>
    <span class="column fixed-position">
      <h1 class="day" data-bind="text: day"></h1>
      <h2 class="date" data-bind="text: full_date"></h2>
      {% csrf_token %}
      <a href="#" class="add-task" data-bind="click: add_today"><i class="icon icon-plus-sign"></i>Add task for today</a>
      <a href="#" class="add-task" data-bind="click: add_tomorrow"><i class="icon icon-plus-sign"></i>Add task for tomorrow</a>
    </span>

    <!-- Initialization: this script is formed via the django-template engine
    and contains the initial data to use to populate the first tasks -->
    <script language="javascript">
      requirejs.config({
        paths: {
          knockout: "/static/javascripts/vendor/knockout"
        }
      });

      function init(ko, app, vm) {
        var tasks_from_template = [
          {% for task in tasks_for_today %}
            {
              'id'       : {{ task.pk }},
              'markdown' : "{{ task.task|safe|escapejs }}",
              'html'     : "{{ task.to_ul|safe|escapejs }}"
            },
          {% endfor %}
        ];

        for (var i=0, tmp_task; i<tasks_from_template.length; i++) {
          tmp_task = tasks_from_template[i]; 

          app.task_list.tasks.push(new vm.Task(tmp_task.id,
                                        tmp_task.markdown,
                                        tmp_task.html));
        }

        app.task_list.full_date("{{ today.full }}");
        app.task_list.day("{{ today.day }}");
        app.task_list.human_date("Today");

        ko.applyBindings(app.task_list);
      };

      requirejs(['knockout', 'application', 'viewmodels'], init);
    </script>
  </body>
</html>
